body {
    font-family: constantia;
    background-color: white;
   
    }


#logo {
    
    height:150px;
    padding-top:30px;
    padding-right:60px;
    
}

#title h1{
      
       color:white;
       font-family:constantia;
        position:absolute; 
        left: 200px;
        top: 65px;
}
#menu{
       position:absolute; 
       top:200px;
      
   }
        
 #patti{
         position:absolute; 
         top:55px;
         left:0px;
         z-index:-1;  
}

#menupatti{
         position:absolute; 
         left:0px;
           
}
#contentpatti{
          position:absolute; 
          top:255px;
          left:0px;  
           }
 #lastbar{
          
          position:absolute; 
          top:557px;
          left:-10px;
  }
   
 #line{
         position:absolute;
         top:60px;
         left:1100px;
  } 
  
#pc{

margin-top:60px;
margin-left:-1200px;
border:1px solid #404040;
max-width:300px;
min-height:520px;
height:auto;
 background-color:#404040;
 

 color:white;
 }
#pc p{
        
  text-align:left;      

 }  
 
 #end{
margin-top:5px;
border:1px solid #404040;
width:1500px;
height:100px;
background-color:#404040;
color:white;  
  }  
  
#cont{
margin-top:-525px;
margin-left:-80px;      
border:1px solid hidden;
max-width:700px;
min-height:520px;
height:auto;
}   

#cont p{
        text-align:left;
 }
 
 #p1{
      max-height:280px;
      max-width:650px;
     
 }
  
 #input{
     
     position: absolute;
     top:100px;
     left: 1150px;
     
 } 
  
 .footer{
 
 position:absolute;
 top:800px;
 
  }
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


  
           .container{
               color:  RED;
               max-width: 800px;
               font-family: times new roman;
               margin: 0 auto;
               padding-top: 50px;
               padding-right: 30px;
               padding-left: 30px;
           }
       
